@import './colors';

.container {
	margin: 0 auto;
	padding: 2rem 0;
	width: 750px;
	height: 480px;
}

.slider {
	position: relative;
	height: 100%;
	border: 4px solid white;
	border-radius: 14px;
}

.slide {
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-size: cover;
	background-position: center;
}

.rightArrow {
	position: absolute;
	top: 50%;
	right: 1rem;
	transform: translate(0, -50%);
	font-size: 3rem;
	color: $opaque-white;
	z-index: 1;
	cursor: pointer;
}

.leftArrow {
	position: absolute;
	top: 50%;
	left: 1rem;
	transform: translate(0, -50%);
	font-size: 3rem;
	color: $opaque-white;
	z-index: 1;
	cursor: pointer;
}

.dotsContainer {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 90%;
	right: 1rem;
	transform: translate(0, -50%);
}

.dot {
	margin: 0;
	cursor: pointer;
	font-size: 1.33rem;
	color: $opaque-white;

	&:hover {
		scale: 1.2;
	}
}

.rightArrow:hover,
.leftArrow:hover,
.dot:hover {
	color: white;
}

.hidden {
	display: none;
}
