@import './colors.scss';

.Footer {
	background-color: $navy;
	color: $primary-white;

	&_logo {
		margin: 0;
		padding: 1rem 0;

		font-size: 3rem;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		text-align: center;
		text-transform: lowercase;
	}

	&_menu {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin: 0 auto;
		width: 80%;
    font-family: Arial, Helvetica, sans-serif;
	}

	&_menu > a {
		margin: 0 5px;
		text-decoration: none;
		color: $primary-white;
	}

	&_copyright {
		padding: 1.25rem 0 1rem;
		text-align: center;
	}
}
