@import './colors';

.Footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: black;
	color: $primary-gray;

	&_logo {
		margin: 0;
		padding: 1rem 0;

		font-size: 3rem;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		text-align: center;
		text-transform: lowercase;
	}

	&_menu {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		margin: 0 auto;
		width: 80%;
		font-family: Arial, Helvetica, sans-serif;
	}

	&_menu > a {
		margin: 0 5px;
		text-decoration: none;
		color: $primary-gray;
		transition: color 0.3s ease-in-out;
	}

	&_menu > a:hover {
		color: white;
	}

	&_copyright {
		padding: 1.25rem 0 1rem;
    font-size: 0.66rem;
		text-align: center;
	}
}
