@import './colors.scss';

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1.33rem;
  background-color: $navy;
  
  &_icon,
  &_iconright,
  &_logo {
    color: $primary-white;
    font-size: 2rem;
  }

  &_iconright {
    margin-left: 10px;
  }

  
  &_logo {
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: lowercase;
  }
}
