@import './colors.scss';

$sidebar-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

.Sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	box-sizing: border-box;
	padding: 3rem 2rem;
	width: fit-content;
	height: 100vh;

	background-color: rgb(1, 21, 26);

	.profile {
		display: flex;
		justify-content: center;
		align-items: center;

		&_avatar,
		&_username {
			margin: 0 0.33rem;
		}

		&_avatar {
			padding: 0.33rem;
			padding-left: 0.5rem;
			height: 2rem;
			width: 2rem;

			font-size: 1.75rem;
			color: $primary-white;

			border: 2px solid $primary-white;
			border-radius: 50%;
		}

		&_username {
			font-size: 1.5rem;
			font-family: $sidebar-font;
			color: $primary-white;
		}
	}

	.switch {
		display: flex;
		justify-content: center;
		margin: 0.5rem 0;
		padding-bottom: 2rem;

		font-size: 1rem;
		font-weight: lighter;
		font-family: $sidebar-font;
		color: $primary-white;
		text-transform: lowercase;
		text-decoration: none;
	}

	.menu {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1;
		margin: auto auto;
		width: fit-content;

		&_link {
			display: flex;
			align-items: center;
			margin: 1rem 0;

			font-weight: lighter;
			font-family: $sidebar-font;
			color: $primary-white;
			cursor: pointer;

			&_icon {
				font-size: 1.25rem;
			}

			&_text {
				margin-left: 0.66rem;
				font-size: 1.5rem;
			}
		}
	}

	.logo {
		display: flex;
		justify-content: center;
		padding-top: 2rem;

		font-size: 2rem;
		color: $primary-white;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		text-transform: lowercase;
	}
}
