@import './colors.scss';

$sidebar-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

.Sidebar {
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
  background-color: rgba(1, 21, 26, 0.7);
  z-index: 1000;
  
	.menu {
    padding: 1rem;
    
		&_link {
      display: flex;
      margin: 1rem 0;

      font-size: 1.25rem;
			font-weight: lighter;
			font-family: $sidebar-font;
      
			color: $primary-gray;
			transition: color 0.2s ease-in-out; 
			cursor: pointer;

      &_label {
        margin-left: 1rem;
      }
      
			&_hidden {
        display: none;
			}
      
			&:hover {
				color: $primary-white;
			}
		}
	}
}
